
<!--コメント表示-->
<% ramen_image.ramen_comments.each do |ramen_comment| %>
    <div class="color">
          <%= attachment_image_tag ramen_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <%= ramen_comment.comment %><br/>
          <%= ramen_comment.user.username %>
           <!--コメント削除  -->
          <% if ramen_comment.user == current_user %>
            <%= link_to ramen_image_ramen_comment_path(ramen_comment.ramen_image, ramen_comment), method: :delete, remote: true do %>
              <i class="fas fa-trash-alt fa-2x"></i>
            <% end %>
          <% end %>
   </div>
<% end %>