
 <br/>
 <div>
 <!--いいね機能-->
  <% if ramen_image.favorited_by?(current_user) %>
    <p>
      <%= link_to ramen_image_favorites_path(ramen_image), remote: true, method: :delete do %>
          <i class="fas fa-battery-full green fa-3x">
            <%= ramen_image.favorites.count %>
          </i>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to ramen_image_favorites_path(ramen_image), remote: true, method: :post do %>
        <i class="fas fa-battery-quarter red fa-3x">
          <%= ramen_image.favorites.count %>
        </i>
      <% end %>
    </p>
  <% end %>
</div>