// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: image-url("iphone.jpeg") no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 5%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
